<div ng-controller="otherproductsController">
<div class="tab-pane" id="etab15">
    	      <div class="form-group">
                  <h3><img style="padding-right:5px;" src="images/ic-Applicants.png">Other Products</h3>
               </div>  
             
              <div class="tab-pane-border que-for" style="display:inline-block">   
                  <div class="col-sm-12"><a href="https://quote.sortrefer.co.uk/NDI0/" target="_blank">Click to - Quick Conveyancing quote</a> </div>
                  </div> 
              
              <div class="form-group form-sub">
      
                  
    </div>
            
            </div> 
</div>